body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
}

form {
    background-color: #1e1e2f;
    border: solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5%;
}

.hint {
    color: #e53935;
    font-size: 15px;
}

.form-row {
    display: grid;
    grid-template-columns: 160px 1fr;
    row-gap: 4px;
    column-gap: 12px;
    align-items: center;
}

.required {
    color: #e53935;
    margin-left: 1px;
}

.form-row .error {
    grid-column: 2;
}

label {
    font-weight: bold;
}

input {
    padding: 6px;
}

fieldset {
    border-color: #424242;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
}

fieldset .form-row {
    margin-bottom: 8px;
}

.error { 
    color: #e53935;
    font-size: 0.9em; 
}

#success { 
    color: #43a047;
    font-weight: bold;
    margin-top: 15px; 
}

button {
    background-color: #2979ff;
    color: #ffffff;
    border: none;
    font-size: larger;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #303f9f;
}